@import '../../styles/variables';

.section-title {
    .title {
        font-family: $secondary-font;
        font-weight: 400;
        color: $text-black;
    }

    .side-title {
        font-family: $handdrawn-font;
        color: #f3f3f3;
        font-size: 25px;
    }

    &__header-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .border-pattern {
        display: flex;

        &__line {
            height: 3px;
            width: 90px;
            background: $primary-orange;
            display: block;
            border-radius: 10px;
            margin-right: 5px;
        }

        &__circle {
            display: block;
            border-radius: 50%;
            height: 3px;
            width: 3px;
            background-color: $primary-orange;
            margin-right: 5px;
        }
    }
}