.sb-font-red {
    color: #F54E4E;
}

.section-padding {
    padding: 0 40px;
}

.section-vertical-padding {
    padding-top: 40px;
    padding-bottom: 40px;
}

.section-horizontal-padding {
    padding-left: 40px;
    padding-right: 40px;
}