// Fonts
$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Noto Serif', serif;
$handdrawn-font: 'Delicious Handrawn', cursive;

// Colors
$primary-orange: #F54E4E;
$text-black: #323232;
$text-grey: #8E8E8E;
$text-light-grey: #B4B4B4;
$text-dark: #171717;
$border-light: #F3F3F3;