.floating-cloud {
    animation: floating 6s infinite;

    &.delay-5 {
        animation-delay: 2s;
    }
}

.phone-shaking {
    animation: tilt-shaking 3s infinite;
}

@keyframes floating {
    0% {
        opacity: 1;
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateyY(0px);
    }
}

@keyframes tilt-shaking {
    0% { opacity: 0; transform: translateY(50px);}
    50% { opacity: 1; transform: translateY(0px);}
    100% { opacity: 0; }
  }

