@import '../../styles/variables';

.projects-page {

    &__tab-header {
        max-width: $content-max-width; 
        margin: 0 auto;
    }

    &__tab-contents {
        padding-top: 30px;
        padding-left: 35px;
        padding-right: 35px;
        padding-bottom: 30px;
        box-sizing: border-box;
        max-width: $content-max-width;
        margin: 0 auto;
    }
}