@import '../../../../styles/variables';

.home-page__skills {
    .skills-section-title {
        opacity: 0;
        transform: translateY(50px);
    }
}

.skills-list-section-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .skills-list-wrapper {
        width: 100%;
        
        &:first-child, &:nth-child(2) {
            width: 49%;

            @media(max-width: $ipad-portrait) {
                width: 100%;
            }
        }
    }
}