@import '../../../../styles/mixins';
 
 .toggle-theme__btn {
    @include flex-center(center, center);
    height: 35px;
    width: 35px;
    background: white;
    border: 1px solid #EAEAEA;
    border-radius: 8px;
    cursor: pointer;

    &:hover {
        box-shadow: 1px 1px 4px rgb(196 195 195);
    }
 }